/* Global background for all pages */
body {
    margin: 0;
    min-height: 100vh;
  
    background-image:
      linear-gradient(
        135deg,
        rgba(15, 32, 39, 0.85),
        rgba(32, 58, 67, 0.85),
        rgba(44, 83, 100, 0.85)
      ),
      url("image.png");
  
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed;
  
    font-family: "Roboto", sans-serif;
  }
  